@import "tailwindcss";

@theme {
  --font-sans: "Dosis", sans-serif;
  --color-ctp-base: #1e1e2e;
  --color-ctp-suf0: #313244;
  --color-ctp-text: #cdd6f4;
  --color-ctp-subtext0: #a6adc8;
  --color-ctp-subtext1: #bac2de;
  --color-ctp-mauve: #cba6f7;
  --color-ctp-blue: #89b4fa;
}

@layer base {
  body {
    @apply bg-ctp-base text-ctp-text font-sans;
  }

  h1 {
    @apply text-2xl font-bold mb-2 mt-2;
  }

  h2 {
    @apply text-xl font-bold mb-2 mt-2;
  }

  a {
    @apply text-ctp-blue;
  }

  header * {
    @apply text-ctp-text flex h-full w-fit items-center justify-center border border-dashed px-8 py-4;
  }
}
