@import "tailwindcss";

@theme {
  --font-sans: "Dosis", sans-serif;
  --color-ctp-base: #1e1e2e;
  --color-ctp-text: #cdd6f4;
}

@layer base {
  body {
    @apply bg-ctp-base text-ctp-text font-sans;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl;
  }

  header * {
    @apply flex h-full w-fit items-center justify-center border border-dashed px-8 py-4;
  }
}
