@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-crust: #181926;
  --color-mantle: #1e2030;
  --color-base: #24273a;
  --color-surface-0: #363a4f;
  --color-surface-1: #494d64;
  --color-peach: #f5a97f;
  --color-blue: #8aadf4;
  --color-lavender: #b7bdf8;
  --color-mauve: #c6a0f6;
  --color-rosewater: #f5e0dc;
  --color-text: #cad3f5;
}
